<!-- include header-->
<%- include('include/_header') %>
    <!-- /include header-->

    <!--main site-->
    <main id="site-main">
        <div class="container2">
            <div class="box-nav d-flex-justify-between">
                <div class="filter">
                    <a href="/"><i class="fas fa-angle-double-left"></i> All users</a>
                </div>
            </div>
            <div class="form-title text-center">
                <h2 class="text-dark">Update User</h2>
                <span class="text-light">Use the below form to update account</span>
            </div>
            <!-- add user form -->
            <!-- form handling -->
            <form method="POST" id="update_user">
                <div class="new_user">
                    <div class="profile_inp" id="imagePreview">
                        <label class="pro_label"  for="file"> <img class="image-preview-image" src="/img/upload_photo.jpg" alt="" ></label>
                        <input class="pro_inp image" id="pro_input" name="pro_input" type="file" accept="image/*">
                        
                        <span class="pro_span">Add Your Profile photo</span>
                    </div>
                    <div class="form-group flex input">
                        <label for="name" class="text-light">Name</label>
                        <input type="hidden" name="id" value="<%= user._id %>">
                        <input type="text" name="name" value="<%= user.name %>" placeholder="Mark clone">
                    </div>
                    <div class="form-group flex input">
                        <label for="name" class="text-light">Email</label>
                        <input type="email" name="email" value="<%= user.email %>" placeholder="example@gmail.com">
                    </div>
                    <div class="form-group center">
                        <label for="gender" class="text-light radio-gap">Gender</label>
                        <div class="radio inline">
                            <input class="radio-gap" type="radio" name="gender" value="Male"<%= user.gender == 'Male'?'checked':'' %>>
                            <label for="gender" class="text-light">Male</label>
                        </div>
                        <div class="radio inline center">
                            <input class="radio-gap" type="radio" name="gender" value="Female"<%= user.gender == 'Female'?'checked':'' %>>
                            <label for="gender" class="text-light">Female</label>
                        </div>
                    </div>
                    <div class="form-group center">
                        <label for="gender" class="text-light radio-gap">Status</label>
                        <div class="radio inline">
                            <input class="radio-gap" type="radio" name="status" value="Active"<%= user.status == 'Active'?'checked':'' %>>
                            <label for="status" class="text-light">Active</label>
                        </div>
                        <div class="radio inline">
                            <input class="radio-gap" type="radio" name="status" value="Inactive"<%= user.status == 'Inactive'?'checked':'' %>>
                            <label for="status" class="text-light">Inactive</label>
                        </div>
                    </div>
                    <div class="form-group" id="create_btn">
                        <button type="submit" class="btn create_btn text-dark update">Update</button>
                    </div>
                </div>
            </form>
            <!-- /form handling -->
            <!-- /add user form -->
        </div>
    </main>
    <!--/main site-->


    <!-- include fotter-->
    <%- include('include/_footer') %>
        <!-- /include fotter-->